:root{
    --spacing-sm: 15px;
    --spacing: 30px;
    --spacing-lg: 45px;
    --btn-width: calc((100% - 45px) / 4);
}

@font-face {
  font-family: digital-7;
  src: url(./fonts/digital-7-mono.ttf);
}

html{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

body{
    margin: 0;
    padding: 0 20px;
    background-color: #c34242;
}

.calculator{
    display: flex;
    flex-direction: column;
    position: relative;
    width: clamp(300px, 80vw, 400px);
    height: clamp(400px, 80vh, 600px);
    margin: 10vh auto;
    padding: 25px;
    background-image: linear-gradient(111deg, #63625f, #2f2f2d);
    border-radius: 20px;
    box-sizing: border-box;
}

.calculator::before, .calculator::after{
    content: '';
    display: block;
    position: absolute;
    width: 400%;
    height: min(400px, 100%);
    background-color: #9e3434   ;
    z-index: -1;
}

.calculator::before{
    top: 0;
    right: 0;
    transform: translateX(99%) rotate(40deg);
    transform-origin: top left;
}

.calculator::after{
    left: 0;
    bottom: 0;
    transform: translateX(1%) rotate(40deg);
    transform-origin: bottom left;
}

.display{
    flex: 0 0 90px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin: 0 0 var(--spacing);
    padding: var(--spacing-sm);
    font-size: 48px;
    font-family: digital-7;
    background-color: #87b187;
    border-radius: 10px;
    box-shadow: inset 3px 3px 3px 0px rgba(0,0,0,0.7);
    box-sizing: border-box;
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    font-family: monospace;
    font-size: clamp(24px, 5vh, 40px);
    color: whitesmoke;
    border-radius: 5px;
    cursor: pointer;
    user-select: none;
    box-shadow: 3px 2px 5px 0px rgba(0,0,0,0.4);
}

.btn:active{
    box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.4);
}

.btn:nth-child(-n+3) {
    background-color: #212121;
}

.row{
    display: grid;
    flex: 1 0 auto;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 15px;
}

.btn-clear{
    grid-row: 1/2;
    grid-column: 1/3;
}

.btn-equals{
    grid-column: 4/5;
    grid-row: -1/-3;
    background-color: #FF9800;
}

.btn-zero{
    grid-column: 1/3;
}





